*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 16px;
}
#grid-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 2rem;
}
.container {
    margin: auto;
    max-width: 1300px;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 55px auto auto 100px 100px 80px  ;
}
header{
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    background-color: #0F1629;
    color: #fff;
}
.menu {
    grid-column-start: 2 ;
    grid-column-end: 5 ;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    background-color: #EF3C4F;
    color: #fff;
}
.hero {
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    grid-row-start:2;
    grid-row-end: 4;
    background-color: #4C86C6;
    color: #fff;
}
.main {
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 4 ;
    grid-row-end: 6 ;
    background-color:#24344B;
    color: #fff;
}
.image {
    grid-column-start: 4 ;
    grid-column-end: 5 ;
    grid-row-start: 4 ;
    grid-row-end: 5 ;
    background-color: #C1E4E6;
    color: #0F1629;
}
.extra {
    grid-column-start: 4 ;
    grid-column-end: 5 ;
    grid-row-start: 5 ;
    grid-row-end: 6 ;
    background-color: #4DBD97;
    color: #0F1629;
}
.banner {
    grid-column-start: 1 ;
    grid-column-end: 5 ;
    grid-row-start: 6 ;
    grid-row-end: 7 ;
    background-color: #FFD169;
    color: #0F1629;
}
