input{
    accent-color: rgb(30,255,0);
}
input-1::placeholder{
    color: green;
    text-decoration: underline;
}
input:focus{
    border: none;
    outline: 2px solid green;
    border-radius: 10px;
}
input:hover{
    border: 5PX solid red;
    outline: 2px solid blue;
}
::marker{
    color: rgb(255, 0, 0);
}