div#Contact{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

div#address-Map{
    scroll-snap-stop: always;
}

div#Contact span {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#Contact img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icons{
    width:20px;
    height: 20px;
    margin-top: 4px;
}

.contact-link-wrap ul li span.contact-link p,
.contact-link-wrap ul li span.contact-link a{
    font-size: 1.1rem;
    text-transform: capitalize  ;
    color: #a5a5a5;
    font-weight: 400;
    transition: all 0.3s linear;
}

.contact-link-wrap ul li span.contact-link p:hover,
.contact-link-wrap ul li span.contact-link a:hover{
    color: #D51243;
}


.contact-btn-wrap .contact-btn{
    width: 100%;
    min-height: 55px;
    border-radius: 6px;
    margin-block: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-btn-wrap .contact-btn:hover {
    background-color: #D51243;
    color:#FFFFFF;
    transition: all 0.3s linear;
}


.contact-btn-wrap .contact-btn p{
    font-size: 1.2rem;
    font-weight: 600;
    color: currentColor;
}


.Contact-form button.form-button span.icons{
    animation: 0.4s linear alternate backwards;

}

.Contact-form button.form-button:hover span.icons{
    animation-name: MoveBtnArrow;
}

@keyframes MoveBtnArrow {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(6px);
        opacity: 0;
    }
}